<p-card>
  <p-floatlabel variant="in" class="mb-3">
    <p-autoComplete
      fluid
      [(ngModel)]="selectedLocale"
      [suggestions]="localeSuggestions"
      (completeMethod)="searchLocales($event)"
      [delay]="0"
    />
    <label>File locale</label>
  </p-floatlabel>

  <p-fileupload
    #upload
    name="fileTranslations"
    [customUpload]="true"
    [showCancelButton]="false"
    [disabled]="selectedLocale == null"
    [auto]="true"
    [multiple]="true"
    (uploadHandler)="onUpload($event)"
    accept="application/json"
    maxFileSize="10000000"
    mode="advanced"
  >
    <ng-template #empty>
      <div class="empty-upload">
        <i class="pi pi-cloud-upload"></i>
        <p>Drag and drop files to here to upload.</p>
      </div>
    </ng-template>

    <ng-template #content let-files>
      @for (file of files; track `${file.name}-${file.lastModified}`; let i = $index;) {
        <div class="uploaded-file">
          <span>{{file.name}}
            @if (i in failedUploads) {
              <p-tag severity="danger" [pTooltip]="failedUploads[i]">Failed</p-tag>
            } @else {
              <p-tag severity="success">Successful</p-tag>
            }
          </span>
        </div>
      }
    </ng-template>
  </p-fileupload>
</p-card>

<pre>
{{ translationService.translations() | json}}
</pre>
