@use "styles/spacing";
@import "primeicons/primeicons.css";

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: normal;
  font-weight: 400;
}

body {
  background: var(--p-primary-50);
  background: radial-gradient(at left bottom, var(--p-primary-50), var(--p-primary-100));
  margin: 0;
  padding: 0;
}

.p-dark body {
  background: var(--p-primary-50);
  background: radial-gradient(at left bottom, var(--p-surface-800), var(--p-surface-900));
}

.content .p-card {
  background: var(--p-card-background);
  background: color-mix(in srgb, var(--p-card-background) 70%, transparent);
  backdrop-filter: opacity(0.8);
}

@include spacing.spacing-classes;
